p{
    color: dimgrey;
}

a.julialink{
    padding: 0px 30px;
    margin-left: 10px;
    border-radius: 50px;
    color: cornflowerblue;
}

a.julialink:hover {
    background-color: cornflowerblue;
    color: white;
}

div.juliadivgrey{
    background-color: rgb(144, 165, 235);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgb(33, 133, 173);
}

.juliaserif{
    font-family: "Noto Serif TC", serif;
}

.juliacallmebg{
    background-image: url("../assets/img/300.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.juliacenter{
    text-align: center;
}

.juliahl{
    color: rgb(162, 27, 239);
    font-weight: 900;
}

.juliacolor{
    color:#33044f ;
}

div.listwidth{
    width: 60%;
}

.julialine{
    border: 2px solid rgb(29, 11, 32);
}

table{
    border-collapse: collapse;
    width: 60%;
}

th,td{
    border: 1px solid rgb(29, 11, 32);
    padding: 10px;
}

.julia{
    color: #402151;
}